html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0; /*去除默认的8px间距*/
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid #d8dce5;
}

iframe {
  width: 100%;
  height: 100%;
  border: none; /*去除默认的2px边框*/
  display: block; /*防止占据额外空间*/
}